mail-attachment-repo/alf_data_dev/
mail-attachment-share/.settings/org.eclipse.m2e.core.prefs
mail-attachment-repo/.settings/org.eclipse.m2e.core.prefs
mail-attachment-repo/*.log*
mail-attachment-share/*.log*